<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>headertest</title>

    <link rel="stylesheet" href="stylesheet.css">

</head>

<body>

<div class="header">
    <a href="/">
        <img src="Motor.png" alt="logo" style="width:300px;height:130px;">
    </a>
</div>

<div class="bg"></div>


<a href="/" class="button">Homepage</a>

<div class="dropdown">
    <button class="dropbtn">Customers</button>
    <div class="dropdown-content">
        <a href="/customers">All Customers</a>
        <a href="/addCustomer">Add Customer</a>
        <a href="/delete">Delete Customer</a>
    </div>
</div>


<div class="dropdown">
    <button class="dropbtn">Autocampers</button>
    <div class="dropdown-content">
        <a href="/autocamper">All Autocampers</a>
        <a href="/addAuto">Add Autocamper</a>
        <a href="/equipment">Equipment</a>
    </div>
</div>

<div class="dropdown">
    <button class="dropbtn">Rentals</button>
    <div class="dropdown-content">
        <a href="/rentals">All Rentals</a>
        <a href="/addRental">Add Rental</a>
    </div>

</div>
</body>
</html>