<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Nordic MotorHome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

    </style>


</head>

<div th:replace="header">...</div>

<body2>

    <h1>Welcome to Nordic Motorhome</h1>
    <br>
    <p>We are a Danish company who wants to be by your side for your desired camping trip.</p>
    <p>With our variety of top quality motorhome, we want to set you</p>
    <p>on a good path towards your next camping holiday in Denmark.</p>
    <br>
    <p>Feel free to browse our website, to find the right fit for your needs</p>
    <p>Or contact us on either of our contact lines:</p>
    <p>Email: nordicmotorhome@gmail.com</p>
    <p>Phone: +45 48489118</p>

</body2>

</html>